<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Garage Vincent Parrot
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> {% block stylesheets %}{% endblock %}
		</head>


		<body>
			<header>
				<div class="row phone avis">
					<div class="col-3">
						<p class="text-start">Appelez nous au
							<strong>01 02 03 04 05</strong>
						</p>
					</div>
					<div class="col-6"></div>
					<div class="col-3">
						<p class="text-end">
							<a href="templates/form/formavis.html.twig">Laissez nous un avis</a>
						</p>
					</div>
				</div>
				<div class="row header">
					<img class="logo col-3" src="{{ asset('asset/uploads/images/logo.png') }}" alt="logo du garage"/>
					<nav class="navbar col-6">
						<ul class="link">
							<li>
								<a href="templates/page/home.html.twig">Accueil</a>
							</li>
							<li>
								<a href="'templates/page/about.html.twig">A Propos</a>
							</li>
							<li>
								<a href="templates/car.html.twig">Ventes</a>
							</li>
							<li>
								<a href="templates/page/service.html.twig">Services</a>
							</li>
							<li>
								<a href="templates/horaire.html.twig">Horaires</a>
							</li>
							<li>
								<a href="templates/form/formcontact.html.twig">Contactez-nous</a>
							</li>
						</ul>
						<li>
							<a class="login_button" type="button" href="form/formlogin.html.twig">SE CONNECTER</a>
						</li>
					</nav>
				</div>
			</body>
		</body>
	</html>
</header>
<main>
	{% block body %}{% endblock %}
</main>
<footer>
	<h5 class="text-center social_media">
		Rejoignez nous sur nos réseaux sociaux
		<br><br>
		<img src="{{ asset('asset/uploads/icons/instagram.svg') }}" alt="logo instagram" height="20" width="20"/>
		<a href="#">
			INSTAGRAM
		</a>
		<img src="{{ asset('asset/uploads/icons/facebook.svg') }}" alt="logo instagram" height="20" width="20"/>
		<a href="#">
			<a href="#">FACEBOOK
			</a>
			<img src="{{ asset('asset/uploads/icons/linkedin.svg') }}" alt="logo instagram" height="20" width="20"/>
			<a href="#">
				<a href="#">LINKEDIN
				</a>
			</h5>
			<h6 class="text-center">Copyright © 2024 Projet étudiant de Daniel Gros promotion Nivat école Studi</h6>
		</footer>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
		{% block javascripts %}
			{% block importmap %}
			</body>
		</html>
		{{ importmap('app') }}
	{% endblock %}
{% endblock %}</body></html>
